.navbar {
  background-color: #007bff;  /* Primary blue color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand, .nav-link, .navbar-toggler-icon, .btn {
  color: #fff !important;
}

.nav-link:hover, .navbar-brand:hover {
  color: #ffc107 !important; /* Change to a gold color on hover */
}

.btn-outline-light {
  border-color: #fff;
}

.btn-outline-light:hover {
  background-color: #ffc107;
  border-color: #ffc107;
  color: #fff;
}
